.container > fieldset {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
    margin: 20px 0;
    width: 800px;
}

.buttons {
    margin-top: 10px;
}

button.remove {
    float: right
}

button.remove span {
    color: #d04437
}

button.remove-operation {
    padding: 0;
    margin: 4px 0 0 0;
    float: none;
}